<div class="ui centered grid card">
    <form class="ui centered huge form column">
        <div class=" ui left icon input">
          {{input type="text" placeholder="username" name='username' value=username}}
            <i class="user icon"></i>
        </div>
        <div class=" ui left icon input">
          {{input type="email" placeholder="email" name='email' value=email}}
            <i class="mail icon"></i>
        </div>
        <div class="ui left icon input">
          {{input type="password" placeholder="password" name='password' value=password}}
            <i class="key icon"></i>
        </div>
        <div class="ui left icon input">
          {{input type="password" placeholder="confirm password" name='passwordconf' value=passwordconf}}
            <i class="key icon"></i>
        </div>
        <br><br>
      <div class="ui column stackable center aligned row">
        <div class="ui huge buttons">
            <input type="reset"
                   class="ui black button" value="Reset">
            <div class="or"></div>
            <input type="submit" {{action "signup" username email password passwordconf}}
                   class="ui orange button" value="Sign Up">
        </div>
      </div>


    </form>

</div>
{{outlet}}
